.done-false,.done-true{
    min-width: 69px;
    height: 69px;
    font-size: 50px;
    color: white;
    border-radius: 5px;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.done-true{
    background-color: #8FC549;
}
.title-false{
    color: #BABABA;
}
.text-false{
    color: #666666;
  }
.text-true{
  color: #8FC549;
}
